<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- this is vue element -->
    <h2>Lesson 4 : computed</h2>
    <div id="root">
      <div class="container">
        <div class="row mx-0">
        <div class="col-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Hóa đơn</span>
          </div>
          <input type="text" class="form-control" v-model="bills" @keyup.enter="onSubmitBill" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>  

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Tiền tip</span>
          </div>
          <input type="text" class="form-control" :value="getCurrentTips"  aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>  


        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Tổng</span>
          </div>
          <input type="text" class="form-control" :value="getTotalBills" aria-label="Default" aria-describedby="inputGroup-sizing-default">
          <div class="alert alert-success" role="alert">
            Tiền tip : ${{getCurrentTips}} <br />
            Tổng : ${{+bills + +getCurrentTips}} <br />
            Đã bao gồm {{getCurrentTipsPercents + '%'}} tip : ${{getCurrentTips}}
          </div>
        </div>  
        </div>
        <div class="col-6">
          <h3>List _bill detail</h3>
          <div>
            <div v-for="_bill in listBill">
              <p>{{_bill.bill}}</p>
              <p>
                Tiền tip : ${{+_bill.tip}} <br />
                Tổng : ${{+_bill.tip + +_bill.bill}} <br />
                Đã bao gồm {{+_bill.percent + '%'}} tip : ${{_bill.bill}}
              </p> 
            </div>
            <div class="alert alert-success" role="alert"><p style="font-weight: bolder;">TỔNG PHẢI TRẢ {{getSumBills}}</p></div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  
  <script src="./main.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
</html>
<!-- JSX -->
